// ==== Reset css ==== 
*, ::before, ::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: $header-hight 0 0 0 ; 
    font-family: $font-body;
    font-size: $font-normal-size;
    color: $color-black;
}
h1, h2, p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}



// ==== Class css ====
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section-title{
    position: relative;
    font-size: $font-h2-size;
    color: $color-blue;
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: $color-blue;
}