// ==== Reset css ==== 
*, ::before, ::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: $header-hight 0 0 0 ; 
    font-family: $font-body;
    font-size: $font-normal-size;
    color: $color-black;
}
h1, h2, p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}


// ======== Layout =======
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $color-white;
    box-shadow: 0 1px 4px $color-light-green;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
    position: relative;
}

// ======== Class css ========
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section-title{
    position: relative;
    font-size: $font-h2-size;
    color: $color-blue;
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: $color-blue;
}

.nav{
    height: $header-hight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-semi;
    &__item {
        margin-bottom: $mb-4;
    }
    &__logo{
        color: $color-black;
    }
    &__toggle{
        color: $color-blue;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.button{
    display: inline-block;
    background-color: $color-blue;
    color: $color-white;
    padding: .75rem 2.5rem;
    font-weight: $font-semi;
    border-radius: .5rem;
    &:hover{
        box-shadow: 0 10px 36px $color-dark-black;
    }
}


// ==== Media query: mobile first ====
@media screen and (min-width: 768px){
    $font-big-size: 3.5rem;
    $font-h2-size: 2rem;
    $font-normal-size: 1rem;
}

@media screen and (max-width:768px){
    .nav__menu {
        position: fixed;
        top: $header-hight;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: $color-black;
        transition: .8s;
    }
}

.nav__link {
    position: relative;
    color: $color-white;
    &:hover{
        position: relative;
    }
}
// help create a line at bottom of every link when user hover
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: $color-blue;
}

// ==== Active menu ====
.active::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: $color-blue;
}

// khong de cai .show o day thi no se k show ra duoc cai table toggle
.show {
    right: 0;
}

