.contact__input{
    width: 100%;
    font-size: $font-normal-size;
    font-weight: $font-semi;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid $color-black;
    outline: none;
    margin-bottom: $mb-4;
}
.contact__button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto; // make a block move to left or right
    font-size: $font-normal-size;
}