.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
    &__data{
        align-self: center;
    }
    &__img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 295px;
        img{
            border-radius: 10px;
        }
    }
    
}
.home__title{
    font-size: $font-big-size;
    margin-bottom: $mb-5;
    &-color{
        color: $color-blue;
    }
}
.home__social{
    display: flex;
    flex-direction: column;
    &-icon{
        width: max-content;
        margin-bottom: $mb-2;
        font-size: 1.5rem;
        color: $color-black;
        &:hover{
            color: $color-blue;
        }
    }
}